{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<h1 class="text-center">Connexion</h1>

<form method="post" class="card" style="max-width: 420px; margin: 40px auto;">

    <input type="email" name="_username" placeholder="Email" required>
    <input type="password" name="_password" placeholder="Mot de passe" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="flex space-between" style="margin-bottom:15px;">
        <label class="text-muted">
            <input type="checkbox" name="_remember_me">
            Se souvenir de moi
        </label>

        <a href="{{ path('app_forgot_password_request') }}" class="text-muted">
            Mot de passe oublié ?
        </a>
    </div>

    <button class="btn btn-primary" style="width:100%;">
        Se connecter
    </button>

    <p class="text-muted mt-20 text-center">
        Pas de compte ?
        <a href="{{ path('app_register') }}">Inscription</a>
    </p>

</form>

{% endblock %}